#blurb {
	color: white;
	width: 300px;

	.title {
		margin-bottom: 0.5em;
	}

	a {
		color: white;
	}
}

#stackoverflow-tile {
	> :first-child {
		background-color: #f48024;
	}
	> :last-child {
		background-color: white;
	}
}

#github-tile {
	background-color: #333;
}

#facebook-tile {
	background-color: #3b5998;
}

#linkedin-tile {
	background-color: #4875B4;
}

#twitter-tile {
	background-color: #00aced;
}

#reddit-tile {
	background-color: #ff4500;
}

#mal-tile {
	> :first-child {
		background-image: url('../../wwwroot/assets/images/tiles/mal-logo.png');
	}
	> :last-child {
		background-image: url('../../wwwroot/assets/images/tiles/mal-back.png');
		box-shadow: inset 0px -35px 0px #2e51a1
	}
}

#discord-tile {
	> :first-child {
		background-color: #7289da;
	}
	> :last-child {
		background: linear-gradient(to bottom, #7289da 0%,#7289da 50%,#1e2124 51%,#1e2124 100%);
		padding: 0;
	}
}

#gitter-tile {
	background-color: #ed1965;
}

#steam-tile {
	background-color: #000;
}
