@import '../../styles/variables.less';

fluent-live-tile {
	position: relative;

	.tile-sizes();

	// Animations

	transform-origin: center center;
	transform-style: preserve-3d;

	&[animation="flip-y"], &[animation="flip-x"] {
		fluent-tile {
			backface-visibility: hidden;
			visibility: hidden;

			&.active, &.active + fluent-tile {
				visibility: visible;
			}

			&:not(:first-child) {
				position: absolute;
				top: 0;
			}
		}

		// Hide other sides during animations where the transform could be overwritten.
		&.au-enter-active fluent-tile:not(:first-child) {
			visibility: hidden;
		}
	}


	&[animation="flip-y"] {
		fluent-tile:nth-child(even) {
			transform: rotateY(180deg);
		}
	}

	&[animation="flip-x"] {
		fluent-tile:nth-child(even) {
			transform: rotateX(180deg);
		}
	}

	&.flip-y-add {
		animation: tileFlipY 500ms;
	}

	&.flip-y {
		transform: rotateY(180deg);
	}

	&.flip-y-remove {
		animation: tileFlipY 500ms reverse;
	}

	&.flip-x-add {
		animation: tileFlipX 500ms;
	}

	&.flip-x {
		transform: rotateX(180deg);
	}

	&.flip-x-remove {
		animation: tileFlipX 500ms reverse;
	}

	&[animation="slide"] {
		overflow: hidden;

		> fluent-tile {
			position: relative;
			transition: transform 500ms;
		}
	}

	&.slide > fluent-tile {
		transform: translateY(-100%);
	}

	fluent-tile {
		width: 100%;
		height: 100%;
	}
}
