<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <title></title>
    <link href="../../Assets/CSS/slide-theme.min.css" rel="stylesheet" />
</head>

<body>
	Hi
    
    <script src="../../Source/JS/jQuery/jquery-1.11.1.min.js"></script>
    <script src="../../Source/JS/Howler/howler.min.js"></script>
    <script src="../../Source/XM/Events/XMEvent.js"></script>
    <script src="../../Source/XM/Core/TemplateBase.js"></script>
    <script src="../../Source/XM/Helpers.js"></script>
    <script src="../../Source/XM/Slides/CustomSlide.js"></script>

    <script type="text/javascript">
		Slide.Initialize();
		Slide.Dispatch(XMEvent.Loaded);
	</script>
</body>

</html>